<mat-toolbar>
	<button mat-icon-button routerLink="/">
		<mat-icon>school</mat-icon>
	</button>
	<span>Мој најдражи наставник</span>

	<button mat-button routerLink="/teachers" class="nav-link" *ngIf="currentUser?.role === 'student'">
		Наставници
	</button>

	<button mat-button routerLink="/classes" class="nav-link"
	        *ngIf="currentUser?.role === 'teacher' || currentUser?.role === 'student'">
		Часови
	</button>

	<button mat-button routerLink="/students" class="nav-link" *ngIf="currentUser?.role === 'teacher'">
		Ученици
	</button>

	<button mat-button routerLink="/notifications" class="nav-link"
	        *ngIf="currentUser?.role === 'teacher' || currentUser?.role === 'student'">
		Обавјештења
	</button>

	<span class="spacer"></span>

	<button mat-button routerLink="/account">
		{{currentUser?.username}}
		<mat-icon>person</mat-icon>
	</button>

	<button mat-icon-button (click)="signOut()" *ngIf="currentUser">
		<mat-icon>exit_to_app</mat-icon>
	</button>
</mat-toolbar>