mat-card {
	width: fit-content;
}

mat-form-field, .year-container {
	width: 250px;
	display: block;
}

mat-button-toggle-group {
	margin: 0 auto 15px auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.column {
	padding: 10px;
}

.year-container {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.year-input {
	flex: 1;
}

.year-incrementer {
	margin-top: 5px;
}

ul {
	list-style: none;
}

button {
	margin: 0 5px;
}