mat-card {
	width: fit-content;
}

mat-form-field, .year-container {
	width: 250px;
	display: block;
}

.type-chooser {
	margin: 0 auto 10px;
	width: fit-content;
}

.type-chooser > h4 {
	margin: 0 auto;
}