<mat-card>
	<mat-card-header>
		<mat-card-title>Лозинка</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form (ngSubmit)="changePassword()">
			<mat-form-field appearance="outline">
				<mat-label>Нова лозинка</mat-label>
				<input matInput name="new-password" [(ngModel)]="newPassword"
				       type="password" required>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Потврђена нова лозинка</mat-label>
				<input matInput name="confirmed-new-password" [(ngModel)]="confirmedNewPassword"
				       type="password" required>
			</mat-form-field>

			<div class="type-chooser">
				<h4>Начин аутентификације</h4>
				<mat-button-toggle-group name="type" [(ngModel)]="authType">
					<mat-button-toggle value="old-password">Стара лозинка</mat-button-toggle>
					<mat-button-toggle value="security-question">Сигурносно питање</mat-button-toggle>
				</mat-button-toggle-group>
			</div>

			<div [ngSwitch]="authType">
				<mat-form-field appearance="outline" *ngSwitchCase="'old-password'">
					<mat-label>Стара лозинка</mat-label>
					<input matInput name="old-password" [(ngModel)]="oldPassword"
					       type="password" required>
				</mat-form-field>

				<mat-form-field appearance="outline" *ngSwitchCase="'security-question'">
					<mat-label>{{userInfo.securityQuestion}}</mat-label>
					<input matInput name="security-answer" [(ngModel)]="securityAnswer"
					       type="text" required>
				</mat-form-field>
			</div>

			<button type="submit" mat-raised-button color="primary">Промијени лозинку</button>
		</form>
	</mat-card-content>
</mat-card>