<h2>Захтјеви наставника</h2>

<section>
	<mat-card *ngFor="let teacher of teachers">
		<mat-card-header>
			<mat-card-title>{{teacher.info.firstName}} {{teacher.info.lastName}}</mat-card-title>
		</mat-card-header>
		<img mat-card-image [src]="usersService.getProfileImageURL(teacher.info.username!)">
		<mat-card-content><mat-divider />
			<a mat-button [href]="teachersService.getBiographyURL(teacher.info.username!)">Погледај биографију</a>

			<mat-divider />
			<h4>Предмети:</h4>
			<p *ngFor="let subject of teacher.subjects">{{subject}}</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button color="accent" (click)="acceptTeacher(teacher.info.username!)">Прихвати</button>
			<button mat-button color="warn" (click)="blockTeacher(teacher.info.username!)">Одбиј</button>
		</mat-card-actions>
	</mat-card>
</section>